{% extends "admin/admin_layout.html" %} {% block body %}
<div class="inner m-5">
	<h2 class="text-center pt-1 pb-3 text-danger">Student Deposits</h2>
	<div class="container bg-white px-2 py-3 rounded">
		<!-- <div class=" d-md-flex justify-content-md-end pb-2">
          <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addModal">+ Add Deposit</button>
      </div>                 -->
		<div class="table-responsive">
			<table class="table table-rounded table-hover overflow-x-auto">
				<thead class="table-warning">
					<tr>
						<th scope="col">No</th>
						<th scope="col">Date</th>
						<th scope="col">NIM</th>
						<th scope="col">Deposited Balance</th>
						<th scope="col">Proof</th>
						<th scope="col">Status</th>
						<th scope="col">Options</th>
					</tr>
				</thead>
				<tbody>
					{% for item in deposits %}
                    <tr>
						<th scope="row">{{loop.index}}</th>
						<td>{{ item.date}}</td>
						<td>{{ item.nomor_induk}}</td>
						<td>{{ item.deposited_balance }}</td>
						<td>
                            <a href="{{ url_for('show_image', image_id=item.deposit_id) }}" target="_blank">Open File</a>
                        </td>
						<td>{{ item.status }}</td>
						<td>
                            <a href="/accept-deposit/{{item.deposit_id}}/{{item.nomor_induk}}">
                                <button class="btn btn-success">
                                    <span class="bi bi-check">Approve</span>
                                </button>
                            </a>
						</td>
					</tr>
                    {% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}
