{% extends "admin/admin_layout.html" %} {% block body %}
<div class="inner m-5">
    <h2 class="text-center pt-1 pb-3 text-danger">List of Goods and Rooms</h2>
    <div class="container bg-white px-2 py-3 rounded">             
        <div class="table-responsive">

            <table class="table table-rounded table-hover overflow-x-auto">
                <thead class="table-warning">
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Picture</th>
                    <th scope="col">Category</th>
                    <th scope="col">Option</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Keyboard</td>
                    <td>Picture</td>
                    <td>Goods</td>
                    <td><button class="btn btn-warning me-2" data-bs-toggle="modal" data-bs-target="#editModal" type="button">Edit</button></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Piano</td>
                    <td>Picture</td>
                    <td>Good</td>
                    <td><button class="btn btn-warning me-2" data-bs-toggle="modal" data-bs-target="#editModal" type="button">Edit</button></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Keyboard</td>
                    <td>Picture</td>
                    <td>Good</td>
                    <td><button class="btn btn-warning me-2" data-bs-toggle="modal" data-bs-target="#editModal" type="button">Edit</button></td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Discussion Room 1</td>
                    <td>Picture</td>
                    <td>Room</td>
                    <td><button class="btn btn-warning me-2" data-bs-toggle="modal" data-bs-target="#editModal" type="button">Edit</button></td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Discussion Room 2</td>
                    <td>Picture</td>
                    <td>Room</td>
                    <td><button class="btn btn-warning me-2" data-bs-toggle="modal" data-bs-target="#editModal" type="button">Edit</button></td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Mini Theatre</td>
                    <td>Picture</td>
                    <td>Room</td>
                    <td><button class="btn btn-warning me-2" data-bs-toggle="modal" data-bs-target="#editModal" type="button">Edit</button></td>
                </tr>                       
                </tbody>
            </table>
        </div>
    </div>
</div>

    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="editModalLabel">Edit Picture</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="mb-3">
                    <label for="picture" class="form-label">Picture</label>
                    <input type="file" class="form-control" id="picture">
                </div>
                </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success">Save</button>
        </div>
        </div>
    </div>
</div>
{% endblock %}