{% extends "admin/admin_layout.html" %} {% block body %}
<div class="main-container d-flex">
    <div class="sidebar bg-danger" id="side_nav">
        <div class="header-box px-2 pt-3 pb-4 d-flex justify-content-between">
            <h2 class="fs-4"><span class="text-white">Library CIT</span></h2>
            <button class="btn d-md-none d-block close-btn px-1 py-0 text-white"><i class="fal fa-stream"></i></button>
        </div>
        <ul class="list-unstyled px-2">
            <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="fa-solid fa-book pe-2"></i> Daftar Buku</a></li>
            <li class="active"><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="fa-solid fa-hand-holding-dollar pe-2"></i> Deposit Saldo</a></li>
            <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="fa-solid fa-cart-shopping pe-2"></i> Peminjaman Barang</a></li>
            <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="fa-solid fa-people-roof pe-2"></i> Reservasi Ruangan</a></li>
            <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="fa-solid fa-file-circle-question pe-2"></i> Tata Cara</a></li>
        </ul>

        <ul class="list-unstyled px-2">
            <li class=""><a href='/logout' class="text-decoration-none px-3 py-2 d-block"><i class="fa-solid fa-right-from-bracket"></i> Logout</a></li>
        </ul>
    </div>

    <div class="content">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand">Logo CIT</a>
            </div>
        </nav>
    <div class="deposit-saldo-content px-3 pt-4">
        <h2 class="text-center pt-5 pb-3">List of Goods and Rooms</h2>
        <div class="container bg-white px-2 py-3 rounded">             
            <div class="table-responsive">

                <table class="table table-rounded table-hover overflow-x-auto">
                    <thead class="table-warning">
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Name</th>
                        <th scope="col">Picture</th>
                        <th scope="col">Category</th>
                        <th scope="col">Option</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Keyboard</td>
                        <td>Picture</td>
                        <td>Goods</td>
                        <td><button class="btn btn-warning me-2" data-bs-toggle="modal" data-bs-target="#editModal" type="button">Edit</button></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Piano</td>
                        <td>Picture</td>
                        <td>Good</td>
                        <td><button class="btn btn-warning me-2" data-bs-toggle="modal" data-bs-target="#editModal" type="button">Edit</button></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Keyboard</td>
                        <td>Picture</td>
                        <td>Good</td>
                        <td><button class="btn btn-warning me-2" data-bs-toggle="modal" data-bs-target="#editModal" type="button">Edit</button></td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Discussion Room 1</td>
                        <td>Picture</td>
                        <td>Room</td>
                        <td><button class="btn btn-warning me-2" data-bs-toggle="modal" data-bs-target="#editModal" type="button">Edit</button></td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Discussion Room 2</td>
                        <td>Picture</td>
                        <td>Room</td>
                        <td><button class="btn btn-warning me-2" data-bs-toggle="modal" data-bs-target="#editModal" type="button">Edit</button></td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>Mini Theatre</td>
                        <td>Picture</td>
                        <td>Room</td>
                        <td><button class="btn btn-warning me-2" data-bs-toggle="modal" data-bs-target="#editModal" type="button">Edit</button></td>
                    </tr>                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>

      <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="editModalLabel">Edit Picture</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="picture" class="form-label">Picture</label>
                        <input type="file" class="form-control" id="picture">
                    </div>
                  </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-success">Save</button>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock %}