{% extends "admin/admin_layout.html" %} {% block body %}
<div class="inner m-5">
  <div class="deposit-saldo-content px-3 pt-4">
      <h2 class="text-center pt-1 pb-3 text-danger">User Registration</h2>
      <div class="container bg-white px-2 py-3 rounded">
          <div class=" d-md-flex justify-content-md-end pb-2">
              <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addModal">+ Add User</button>
          </div>                
          <div class="table-responsive">

              <table class="table table-rounded table-hover overflow-x-auto">
                  <thead class="table-warning">
                  <tr>
                      <th scope="col">No</th>
                      <th scope="col">NIM</th>
                      <th scope="col">Name</th>
                      <th scope="col">Password</th>
                      <th scope="col">Email</th>
                      <th scope="col">Option</th>
                  </tr>
                  </thead>
                  {% if users %}
                  <tbody>
                    {% for user in users %}
                  <tr>
                      <th scope="row">{{ loop.index }}</th>
                      <td>{{ user.nomor_induk }}</td>
                      <td>{{ user.name }}</td>
                      <td>{{ user.password }}</td>
                      <td>{{ user.email }}</td>
                      <td class="gap-5"><button class="btn btn-warning me-2" data-bs-toggle="modal" data-bs-target="#user{{user.nomor_induk}}editModal" type="button">Edit</button><button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#user{{user.nomor_induk}}deleteModal" type="button">Delete</button></td>
                  </tr>
                  <div class="modal fade" id="user{{user.nomor_induk}}editModal" tabindex="-1" aria-labelledby="user{{user.nomor_induk}}editModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="user{{user.nomor_induk}}editModalLabel">Edit User</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form
                              method="POST"
                              action="/edit-user/{{ user.nomor_induk }}"
                            >
                                <div class="mb-3">
                                  <label for="nim" class="form-label">NIM</label>
                                  <input type="text" value="{{ user.nomor_induk }}" class="form-control" id="nim" name="nim" disabled>
                                </div>
                                <div class="mb-3">
                                    <label for="name" class="form-label">Name</label>
                                    <input type="text" value="{{ user.name }}" class="form-control" id="name" name="name">
                                </div>
                              <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="text" value="{{ user.password }}" class="form-control" id="password" name="password">
                            </div>
                                <div class="mb-3">
                                  <label for="email" class="form-label">Email</label>
                                  <input type="email" value="{{ user.email }}" class="form-control" id="email" name="email">
                              </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                  <button type="submit" class="btn btn-success">Save</button>
                                </div>
                              </form>
                        </div>
                      </div>
                    </div>
                  </div>
              
                  <div class="modal fade" id="user{{user.nomor_induk}}deleteModal" tabindex="-1" aria-labelledby="user{{user.nomor_induk}}deleteModal" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="user{{user.nomor_induk}}deleteModal">Delete User</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p fw-normal>Are you sure want to delete this user "{{ user.name }}"?</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <a href="/delete-user/{{ user.nomor_induk }}">
                            <button type="button" class="btn btn-danger">Yes, Delete this book</button>
                          </a>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                  {% endif %}
                  </tbody>
              </table>
          </div>
      </div>
  </div>
  <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="addModalLabel">Add New User</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form
                method="POST"
                action="/add-user"
              >
                  <div class="mb-3">
                    <label for="nim" class="form-label">NIM</label>
                    <input type="text" name="nim" class="form-control" id="nim" required>
                  </div>
                  <div class="mb-3">
                      <label for="name" class="form-label">Name</label>
                      <input type="text" name="name" class="form-control" id="name" required>
                  </div>
                  <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="text" name="password" class="form-control" id="password" required>
                </div>
                  <div class="mb-3">
                      <label for="email" class="form-label">Email</label>
                      <input type="email" name="email" class="form-control" id="email" required>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Add</button>
                  </div>                  
                </form>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}