{% extends "admin/admin_layout.html" %} {% block body %}
<div class="inner m-5">
  <div class="deposit-saldo-content px-3 pt-4">
      <h2 class="text-center pt-1 pb-3 text-danger">User Registration</h2>
      <div class="container bg-white px-2 py-3 rounded">
          <div class=" d-md-flex justify-content-md-end pb-2">
              <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addModal">+ Add User</button>
          </div>                
          <div class="table-responsive">
              <table class="table table-rounded table-hover overflow-x-auto align-items-center">
                  <thead class="table-warning">
                  <tr>
                      <th scope="col">No</th>
                      <th scope="col">NIM</th>
                      <th scope="col">Name</th>
                      <th scope="col">Email</th>
                      <th scope="col">Option</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                      <th scope="row">1</th>
                      <td>212100XX0</td>
                      <td>Vincent</td>
                      <td>dummy1@gmail.com</td>
                      <td class="d-flex"><button class="btn btn-warning me-2" style="height: 40px;" data-bs-toggle="modal" data-bs-target="#editModal" type="button"><ion-icon name="create" style="color: white;"></ion-icon></button><button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" type="button" style="height: 40px;"><ion-icon name="trash"></ion-icon></button></td>
                  </tr>
                  <tr>
                      <th scope="row">2</th>
                      <td>212100XX1</td>
                      <td>Grace</td>
                      <td>dummy2@gmail.com</td>
                      <td class="d-flex"><button class="btn btn-warning me-2" style="height: 40px;" data-bs-toggle="modal" data-bs-target="#editModal" type="button"><ion-icon name="create" style="color: white;"></ion-icon></button><button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" type="button" style="height: 40px;"><ion-icon name="trash"></ion-icon></button></td>
                  </tr>
                  <tr>
                      <th scope="row">3</th>
                      <td>212100XX3</td>
                      <td>Elisabeth</td>
                      <td>dummy3@gmail.com</td>
                      <td class="d-flex"><button class="btn btn-warning me-2" style="height: 40px;" data-bs-toggle="modal" data-bs-target="#editModal" type="button"><ion-icon name="create" style="color: white;"></ion-icon></button><button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" type="button" style="height: 40px;"><ion-icon name="trash"></ion-icon></button></td>
                  </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
  <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="addModalLabel">Add New User</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form>
                  <div class="mb-3">
                    <label for="nim" class="form-label">NIM</label>
                    <input type="text" class="form-control" id="nim">
                  </div>
                  <div class="mb-3">
                      <label for="name" class="form-label">Name</label>
                      <input type="text" class="form-control" id="name">
                  </div>
                  <div class="mb-3">
                      <label for="email" class="form-label">Email</label>
                      <input type="email" class="form-control" id="email">
                  </div>
                </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success">Add</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="editModalLabel">Edit User</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form>
                  <div class="mb-3">
                    <label for="nim" class="form-label">NIM</label>
                    <input type="text" class="form-control" id="nim">
                  </div>
                  <div class="mb-3">
                      <label for="name" class="form-label">Name</label>
                      <input type="text" class="form-control" id="name">
                  </div>
                  <div class="mb-3">
                      <label for="email" class="form-label">Email</label>
                      <input type="email" class="form-control" id="email">
                  </div>
                </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success">Save</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="deleteModalLabel">Delete User</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <p fw-normal>Are you sure want to delete this user "[User Name]"?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger">Yes, Delete this book</button>
          </div>
        </div>
      </div>
</div>
{% endblock %}