{% extends "nonadmin/layout.html" %} {% block body %}

<div class="books-display-content px-3 pt-4">
	<div class="book-info bg-light rounded py-3 px-3">
		{% if book %}
		<img
			src="{{ url_for('static', filename='images/createthumb.jpeg') }}"
			class="rounded m-3"
			style="max-width: 400px"
		/>
		<div class="book-desc col-md-10 pt-4 ms-3">
			<h3 class="text-success">{{ book.title }}</h3>
			<p class="text-danger">Writer: {{ book.writer }}</p>
			<p class="w-75">Description: {{ book.description }}</p>
		</div>
		{% endif %}
	</div>
</div>

<div class="personal-review px-3 pt-4">
	<div class="card rounded">
		{% if user_review %}
		<div class="card-header mb-3 bg-success-subtle fw-medium">
			Your Review
		</div>
		<div class="card-body" id="review-display">
			<div class="d-flex justify-content-between">
				<h4 class="card-title">Rating</h4>
				<div class="text-end">
					<button
						class="btn btn-outline-warning rounded-pill"
						id="review-edit-button"
					>
						Edit
					</button>
				</div>
			</div>
			<h3 class="text-success">{{ user_review.rating }}/5</h3>
			<br />
			<p class="card-text">{{ user_review.review }}</p>
		</div>

		<form
			method="POST"
			action="/edit-review/{{ book.title }}/{{ book.book_id }}"
			id="edit-review-form"
			style="display: none"
		>
			<div class="m-3">
				<label for="rating" class="form-label">Rating</label>
				<input
					type="number"
					class="form-control"
					id="rating"
					name="rating"
					value="{{ user_review.rating }}"
					min="0"
					max="5"
					step="0.1"
				/>
			</div>

			<div class="m-3">
				<label for="review">Review</label>
				<textarea class="form-control" id="review" name="review">
{{ user_review.review }}</textarea
				>
			</div>

			<div class="d-grid gap-2 d-flex justify-content-md-end m-3">
				<button
					id="review-cancel-button"
					class="btn btn-secondary"
					type="button"
				>
					Cancel
				</button>
				<button class="btn btn-success" type="submit">Save</button>
			</div>
		</form>
	</div>

	{% else %}
	<div class="card-header mb-3 bg-success-subtle fw-medium">
		Add Your Review
	</div>
	<form
		method="POST"
		action="/add-review/{{ book.title }}/{{ book.book_id }}"
	>
		<div class="m-3">
			<label for="rating" class="form-label">Rating</label>
			<input
				type="number"
				class="form-control"
				id="rating"
				name="rating"
				min="0"
				max="5"
				step="0.1"
				required
			/>
		</div>

		<div class="m-3">
			<label for="review">Review</label>
			<textarea
				class="form-control"
				id="review"
				name="review"
				required
			></textarea>
		</div>

		<div class="d-grid gap-2 d-flex justify-content-md-end m-3">
			<button
				id="review-cancel-button"
				class="btn btn-secondary"
				type="button"
			>
				Cancel
			</button>
			<button class="btn btn-success" type="submit">Add review</button>
		</div>
	</form>
	{% endif %}
</div>

<div class="all-reviews px-3 pt-4">
	<h3 class="mb-3">Other Reviews</h3>
	{% for review in ratings_reviews %} {% if review.User.nomor_induk !=
	session.get('nim') %}
	<div class="card rounded text-bg-dark mb-3" style="max-width: 18rem">
		<div class="card-header">{{ review.User.name }}</div>
		<div class="card-body">
			<h5 class="card-title">{{ review.RatingReview.rating }}</h5>
			<p class="card-text">{{ review.RatingReview.review }}</p>
		</div>
	</div>
	{% endif %} {% endfor %}
</div>

<div
	class="modal fade"
	id="borrowModal"
	tabindex="-1"
	aria-labelledby="borrowModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="borrowModalLabel">
					Borrow Book
				</h1>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body">
				<p>
					Are you sure want to borrow this book? The return date is
					{{due_date}}
				</p>
			</div>
			<div class="modal-footer">
				<button
					type="button"
					class="btn btn-secondary"
					data-bs-dismiss="modal"
				>
					Close
				</button>
				<a href="/borrow/{{book.title}}/{{book.book_id}}">
					<button type="button" class="btn btn-success">
						Borrow
					</button>
				</a>
			</div>
		</div>
	</div>
</div>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		var reviewEditButton = document.getElementById("review-edit-button");
		var reviewDisplay = document.getElementById("review-display");
		var editReviewForm = document.getElementById("edit-review-form");
		var reviewCancelButton = document.getElementById(
			"review-cancel-button"
		);

		reviewEditButton.addEventListener("click", function () {
			reviewDisplay.style.display = "none";
			editReviewForm.style.display = "block";
			reviewEditButton.style.display = "none";
			reviewCancelButton.style.display = "block";
		});

		reviewCancelButton.addEventListener("click", function () {
			reviewDisplay.style.display = "block";
			editReviewForm.style.display = "none";
			reviewEditButton.style.display = "block";
			reviewCancelButton.style.display = "none";
		});
	});
</script>

{% endblock %}
