{% extends "nonadmin/layout.html" %} {% block body %}

<div class="books-display-content px-3 pt-4">
	<div class="book-info d-flex bg-light py-3 px-3">
		{% if book %}
		<img
			src="{{ url_for('static', filename='images/createthumb.jpeg') }}"
			class="rounded"
		/>
		<div class="book-desc col-md-10 ps-4">
			<h3 class="text-success">{{ book.title }}</h3>
			<p class="text-danger">Writer: {{ book.writer }}</p>
			<p>Description: {{ book.description }}</p>
		</div>
		{% endif %}
	</div>
</div>

<div class="personal-review">
	{% if user_review %}
	<h4>Your Review:</h4>
	<div id="review-display">
		<p>Rating: {{ user_review.rating }}</p>
		<p>Review: {{ user_review.review }}</p>
	</div>
	<button id="review-edit-button">Edit</button>
	<form
		method="POST"
		action="/edit-review/{{ book.title }}/{{ book.book_id }}"
		id="edit-review-form"
		style="display: none"
	>
		<label for="rating">Rating:</label>
		<input
			type="number"
			name="rating"
			id="rating"
			value="{{ user_review.rating }}"
		/>

		<label for="review">Review:</label>
		<textarea name="review" id="review">{{ user_review.review }}</textarea>

		<button type="submit">Update Review</button>
	</form>
	<button id="review-cancel-button" style="display: none">Cancel</button>
	{% endif %}
</div>

<div class="all-reviews">
	<h4>All Reviews:</h4>
	{% for review in ratings_reviews %} {% if review.User.nomor_induk !=
	session.get('nim') %}
	<div class="review">
		<p><strong>{{ review.User.name }}</strong></p>
		<p>Rating: {{ review.RatingReview.rating }}</p>
		<p>Review: {{ review.RatingReview.review }}</p>
	</div>
	{% endif %} {% endfor %}
</div>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		var reviewEditButton = document.getElementById("review-edit-button");
		var reviewDisplay = document.getElementById("review-display");
		var editReviewForm = document.getElementById("edit-review-form");
		var reviewCancelButton = document.getElementById(
			"review-cancel-button"
		);

		reviewEditButton.addEventListener("click", function () {
			reviewDisplay.style.display = "none";
			editReviewForm.style.display = "block";
			reviewEditButton.style.display = "none";
			reviewCancelButton.style.display = "block";
		});

		reviewCancelButton.addEventListener("click", function () {
			reviewDisplay.style.display = "block";
			editReviewForm.style.display = "none";
			reviewEditButton.style.display = "block";
			reviewCancelButton.style.display = "none";
		});
	});
</script>

{% endblock %}
