{% extends "nonadmin/layout.html" %} {% block body %}

<div class="inner m-5">
	<h2 class="text-center pb-3 text-danger">Borrowing Books</h2>
	<h5 class="pb-2 text-dark fw-bold">Borrowed Books</h2>
	<div class="row">
	{% for book_borrowing in borrowed_books %}
	{% if book_borrowing[1].return_date == None %}
		<div class="col-12 col-md-3 mt-1 mb-1">
			<div id="" class="card cb1" style="height:100%">
				<img
					src="../../static/{{book_borrowing[0].book_cover}}"
					class="card-img-top w-50 mx-auto d-block pt-4"
				/>
				<div class="card-body">
					<h5 class="card-title">{{ book_borrowing[0].title }}</h5>
				</div>
			</div>
		</div>
		{% endif %}
	{% endfor %}
	</div>
	<h5 class="pt-4 text-dark fw-bold">History</h2>
	<table class="table table-hover">
		<thead>
		<tr>
			<th scope="col">No</th>
			<th scope="col">Book Title</th>
			<th scope="col">Borrowing Date</th>
			<th scope="col">Returning Date</th>
			<th scope="col">Fine Amount (Rp)</th>
		</tr>
		</thead>
		<tbody>
			{% for book_borrowing in borrowed_books %}
			{% if book_borrowing[1].return_date != None %}
				<tr>
					<th>{{ loop.index }}</th>
					<td>{{ book_borrowing[0].title }}</td> 
					<td>{{ book_borrowing[1].borrowing_date.strftime('%d/%m/%Y') }}</td>  
					<td>{{ book_borrowing[1].return_date.strftime('%d/%m/%Y') }}</td> 
					<td>{{ book_borrowing[1].fine or 0 }}</td>
				</tr>
			{% endif %}
			{% endfor %}
		</tbody>
	</table>
	{% endblock %}
</div>
