{% extends "nonadmin/layout.html" %} {% block body %}
<div class="inner m-5">
  <h2 class="text-center pt-1 pb-3 text-danger">Balance Deposit</h2>
      <div class="main-content">
      <div class="deposit-saldo-content pt-4">
        <h5 class="border-start border-danger border-5 p-2 bg-warning-subtle align-middle w-50 mb-4">Current Balance: Rp {{ "{:,.0f}".format(user_balance.balance if user_balance.balance is defined else 0) }},-</h5>
        <h5 class="pb-1">Payment History</h5>
          <div class="container bg-white px-2 py-3 rounded">
            <div class="row mb-3 bg-primary-subtle p-2">
              <div class="col-md-6">
                <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">+ Top up</button>
              </div>
              <div class="col-md-6">
                <form class="d-flex justify-content-end">
                  <input class="form-control me-2 w-50" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-warning" type="submit">Search</button>
                </form>
              </div>
            </div>
              <table class="table table-hover">
                  <thead>
                  <tr>
                      <th scope="col">No</th>
                      <th scope="col">Date</th>
                      <th scope="col">Deposited Balances</th>
                      <th scope="col">Proof</th>
                      <th scope="col">Status</th>
                  </tr>
                  </thead>
                  <tbody>
                    {% if deposit_history %}
                    {% for deposit in deposit_history %}
                      <tr>
                          <th scope="row">{{ loop.index }}</th>
                          <td>{{ deposit.date.strftime('%d/%m/%Y') }}</td>
                          <td>{{ "{:,.0f}".format(deposit.deposited_balance if deposit.deposited_balance is defined else 0) }}</td>
                          <td>
                              <a href="{{ url_for('user.show_image', image_id=deposit.deposit_id) }}" target="_blank">Open File</a>
                          </td>
                          <td>{{ deposit.status }}</td>
                      </tr>
                    {% endfor %}
                    {% else %}
                      <tr>
                          <td colspan="5" style="text-align: center; vertical-align: middle;">No deposit records available.</td>
                      </tr>
                    {% endif %}

                  </tbody>
              </table>
          </div>
      </div>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Top Up Printer Balance</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <form
                    method="POST"
                    action="/top-up"
                    enctype="multipart/form-data"
                  >
                    <div class="mb-3">
                      <label for="amount" class="form-label">Input Amount (Rp)</label>
                      <input type="number" class="form-control" id="amount" name="amount" required>
                    </div>
                    <div class="mb-3">
                      <label for="input-file" class="form-label">Proof</label>
                      <input type="file" class="form-control" id="input-file" name="input-file"required>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button class="btn btn-success" type="submit">Top Up</button>
                    </div>
                  </form>
              </div>
            </div>
          </div>
      </div>
</div>
{% endblock %}