{% extends "nonadmin/layout.html" %} {% block body %}

<div class="books-display-content px-3 pt-4">
	<div class="container py-5">
		<h2 class="text-center pb-3">Daftar Buku</h2>
		{% if books %} {% for book in books %}
		<div class="row row-cols-1 row-cols-md-4 g-4 py-2">
			<div class="col">
				<div id="{{ book.book_id }}" class="card">
					<img
						src="{{ url_for('static', filename='images/createthumb.jpeg') }}"
						class="card-img-top w-50 mx-auto d-block pt-3"
					/>
					<div class="card-body">
						<h5 class="card-title">{{ book.title }}</h5>
						<p class="card-text text-danger">{{ book.writer }}</p>
					</div>
					<div class="mb-5 d-flex justify-content-around">
						<h4 class="text-success">3.33/5</h4>
						<a
							href="{{ url_for('user.book_details', title=book.title, id=book.book_id) }}"
						>
							<button
								class="btn btn-outline-warning rounded-pill"
							>
								Review
							</button>
						</a>
					</div>
				</div>
			</div>
			{% endfor %} {% endif %}
		</div>
	</div>
	{% endblock %}
</div>
