{% extends "nonadmin/layout.html" %} {% block body %}

<div class="inner m-5">
	<h2 class="text-center pb-3 text-danger">List of Books</h2>
	{% if borrowed_books %}
    <div class="bg-warning-subtle border-start border-warning border-5 p-2 d-flex mb-2">
        <ion-icon name="notifications-outline" class="p-2 ms-2 me-2 bg-warning bg-opacity-50 rounded" style="font-size: 1.5rem;"></ion-icon>
        <a href="" class="pt-2 fs-6 text-decoration-none text-dark fw-medium" data-bs-toggle="modal" data-bs-target="#extendModal">
            Reminder: There are {{ borrowed_books|length }} book(s) that need to be renewed before {{ specific_date }} (click here)
        </a>
    </div>
	{% endif %}
	<div class="container-fluid bg-light my-2">
		<div class="d-flex justify-content-end p-2"> 
			<form role="search" class="d-flex me-2"
				action="/search-book"
				method="POST"
			>
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="book_name">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>
			<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
				  Genre
				</button>
				<ul class="dropdown-menu">
					{% for item in genre %}
					<li><a class="dropdown-item" href="/book/{{item.genre_id}}">{{item.name}}</a></li>
					{% endfor %}
				</ul>
			  </div>
		</div>
	</div>

	{% if books %}
	<div class="row">
		{% for book in books %}
		<div class="col-12 col-md-3 mt-1 mb-1">
			<div id="{{ book.book_id }}" class="card cb1" style="height:100%">
				<img
					
					src="../../static/{{book.book_cover}}"
					class="card-img-top w-50 mx-auto d-block pt-4"
				/>
				<div class="card-body">
					<h5 class="card-title">{{ book.title|limit_text(25) }}</h5>
					<p class="card-text text-danger">{{ book.writer|limit_text(20) }}</p>
					<p>{{ book.genre_name }}</p>
				</div>
				<div class="mb-5 d-flex justify-content-around">
					<h4 class="text-success">{{ average_ratings[book.book_id] }}/5</h4>
					<a
						href="{{ url_for('user.book_details', title=book.title, id=book.book_id) }}"
					>
						<button
							class="btn btn-outline-warning rounded-pill"
						>
							Review
						</button>
					</a>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	{% endif %}

	{% if borrowed_books %}
	<div class="modal fade" id="extendModal" tabindex="-1" aria-labelledby="extendModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="extendModalLabel">Extend Book Borrowing Duration</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				{% for item in borrowed_books %}
				<div class="modal-body">
					<p>Please extend book: <b>{{item[1]}}</b> before {{ item[0].due_date }}</p>
				</div>
				{% endfor %}
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
	
	{% endblock %}
</div>
