{% extends "nonadmin/layout.html" %} {% block body %}
    <div class="container p-5">
        <h2 class="text-center pb-3b text-danger">Procedures</h2>
        <div class="container p-3 pt-4 bg-white rounded-4">
            <h4 class="bg-warning p-2 ps-4 rounded">Printers Usage</h4>
            <div class="container ps-5 pt-3">
                <p>1. Please log in with the registered password</p>
                <p>2. Make sure your password matches the name displayed on the monitor</p>
                <p>3. Use a USB/Flash drive for printing purposes (PDF file format)</p>
                <p>4. Select the "Access Stores Files" menu to view the folders/files on the USB drive that you want to print</p>
                <p>5. Choose the "Memory Media" menu</p>
                <p>6. Then select the file you want to print</p>
                <p>7. Please configure the settings for the file to be printed (paper size, color, page selection as needed) *Errors in color selection may affect the price</p>
                <p>8. Once you've finished configuring, select "Start Printing"</p>
                <p>9. Please wait for the printed output</p>
                <p>10. After completion, please eject the USB used and log out of your account</p>
            </div>
        </div>

        <div class="container p-3 mt-4 pt-4 bg-white rounded-4">
            <h4 class="bg-warning p-2 ps-4 rounded">Scanners Usage</h4>
            <div class="container ps-5 pt-3">
                <p> 1. Please log in with the registered password </p>
                <p> 2. Make sure your password matches the name displayed on the monitor</p>
                <p> 3. Make sure your balance is sufficient before making a photocopy transaction</p>
                <p> 4. To make a photocopy, please place the document on the ADF (Automatic Document Feeder) until the green light appears or place the document on the glass as needed</p>
                <p> 5. Then press the start button with the green light</p>
                <p> 6. Please check the photocopy results to ensure they are accurate</p>
                <p> 7. If you have completed the photocopy successfully, please log out of your account</p>
            </div>
        </div>

        <div class="container p-3 mt-4 pt-4 bg-white rounded-4">
            <h4 class="bg-warning p-2 ps-4 rounded">Additionals</h4>
            <div class="container ps-5 pt-3">
                <p>1. After finishing using the printer, don't forget to log out</p>
                <p>2. Do not leave any items on the photocopy machine (used paper, USB drives, etc.)</p>
                <p>3. If you encounter any damage or issues, please inform the library staff/SEP</p>
                <p>4. Mistakes in printing or copying documents are your responsibility</p>                
            </div>
        </div>

        <div class="container p-3 mt-4 pt-4 bg-white rounded-4">
            <h4 class="bg-warning p-2 ps-4 rounded">Book Borrowing</h4>
            <div class="container ps-5 pt-3">
                <p>1. Students may select the books they wish to borrow</p>
                <p>2. Bring the selected book(s) to the library staff/SEP for scanning</p>
                <p>3. Inquire with the library staff about the due date for returning the book(s)</p>            
            </div>
        </div>

        <div class="container p-3 mt-4 pt-4 bg-white rounded-4">
            <h4 class="bg-warning p-2 ps-4 rounded">Book Returning</h4>
            <div class="container ps-5 pt-3">
                <p>1. Students may return the borrowed book(s) to the library personnel</p>
                <p>2. Ensure that you return the book(s) before the designated return deadline</p>
                <p>3. If a book is returned after the due date, a fine will be imposed in accordance with the library's policy</p>           
            </div>
        </div>
    </div>
{% endblock %}