{% extends "nonadmin/layout.html" %} {% block body %}
<div class="inner m-5">
	<h2 class="text-center pb-3b text-danger">Rooms</h2>
	<div class="row row-cols-1 row-cols-md-4 g-4 py-2">
		{% for room in rooms %}
		<div class="col">
			<div class="card">
				<img
					src="data:image/jpeg;base64,{{ room.image }}"
					class="card-img-top mx-auto d-block pt-3"
					alt="..."
				/>
				<div class="card-body">
					<h5 class="card-title">{{ room.name }}</h5>
				</div>
				<div class="mb-5 d-flex justify-content-around">
					{% if room.status == "Available" %}
					<h4 class="text-success">{{ room.status }}</h4>
					<button
						class="btn btn-outline-success rounded-pill"
						data-bs-toggle="modal"
						data-bs-target="#room{{room.id}}Modal"
					>
						Reserve
					</button>
					{% else %}
					<h4 class="text-danger">{{ room.status }}</h4>
					<button
						class="btn btn-outline-danger rounded-pill disabled"
						data-bs-toggle="modal"
						data-bs-target="#room{{room.id}}Modal"
					>
						Reserve
					</button>
					{% endif %}
				</div>
			</div>
		</div>

		<div
			class="modal fade"
			id="room{{ room.id }}Modal"
			tabindex="-1"
			aria-labelledby="room{{ room.id }}ModalLabel"
			aria-hidden="true"
		>
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1
							class="modal-title fs-5"
							id="room{{ room.id }}ModalLabel"
						>
							{{ room.name }}
						</h1>
						<button
							type="button"
							class="btn-close"
							data-bs-dismiss="modal"
							aria-label="Close"
						></button>
					</div>
					<div class="modal-body">
						<form
							action="/reserve_room/{{ room.id }}"
							method="POST"
						>
							<!-- Added form tag with method="POST" -->
							<div class="mb-3">
								<label for="startTime" class="form-label"
									>Start Time</label
								>
								<input
									type="time"
									class="form-control"
									id="startTime"
									name="start_time"
								/>
							</div>
							<div class="mb-3">
								<label for="endTime" class="form-label"
									>End Time</label
								>
								<input
									type="time"
									class="form-control"
									id="endTime"
									name="end_time"
								/>
							</div>
							<div class="modal-footer">
								<button
									type="button"
									class="btn btn-secondary"
									data-bs-dismiss="modal"
								>
									Close
								</button>
								<button type="submit" class="btn btn-success">
									Reserve
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
